.sharuk{
    background-color: red;
}
.alia{
    background-color: gold;
}
.vs{
    background-color: yellow;
}
.nayanatara{
    background-color: green;
}
.vijay{
    background-color: aqua;
}

#abc{
    background-color: pink;
}